<% jammit_css :reports_index -%>

<% content_for :page_title do -%>Assessment Reports (District)<% end -%>

<h1>Assessment Reports (District)</h1>

<dl>
  <% @schools.each do |school, probes| -%>
    <dt><%= link_to school.parent_account.name ? school.parent_account.name + school.name : school.name, school_report_assessment_reports_path(school.id) %> (School)</dt>
    <% probes.each do |probe| -%>
      <dd><%= link_to probe.title, school_report_assessment_report_path(school.id, probe.id) %> (Assessment)</dd>
    <% end -%>
  <% end -%>
</dl>

<%= render :partial => 'reports/update_reports', :object => @report %>
