<% content_for :page_title do -%>School Selection<% end -%>

<h1>View Reports for:</h1>

<table>
	<% @schools.each do |account| -%>
	  <tr>
	  	<td><%= link_to account.parent_account.name ? account.parent_account.name + account.name : account.name, report_school_report_path(params[:report_id], account.id) %> </td>
	  </tr>
  <% end -%>
</table>
