<style>
	.button{
		margin-top: 5px;
	}
</style>

<% content_for :page_title do -%>School Selection<% end -%>

<h1>View Reports for:</h1>

<% if @schools.count == 0 -%>
	<div> No schools found with this probe </div>
<% else -%>

	<table>
		<% @schools.each do |account| -%>
		  <tr>
		  	<td><%= link_to account.parent_account.name ? account.parent_account.name + account.name : account.name, report_school_report_path(params[:report_id], account.id), :class => "button"%> </td>
		  </tr>
	  <% end -%>
	</table>
<% end -%>
