<% content_for :page_title do -%>School Report<% end -%>


<br/>


<h1>Viewing Report for: <%= @current_probe.title %> for: <%= @account.parent_account.name + @account.name %></h1>

<table>
	<% @account.courses.active.each do |course| -%>
	  <tr>
	  	<td><%= link_to course.name, report_class_report_path(params[:report_id], course.id) %> </td>
	  </tr>
	<% end -%>
</table>