<% jammit_css :reports_index -%>

<% content_for :page_title do -%>Assessment Reports (School)<% end -%>

<h1>Assessment Reports (School)</h1>

<span class='assessment_reports'>
  <ol>
    <% @classes.each do |course, quizzes| -%>
      <li><span class="report_group_label"><%= course.name %></span> <span class="title">(Class)</span></li>
      <ol class="report_group">
        <% quizzes.each do |quiz| -%>
          <li>
            <%= link_to quiz.title, class_report_assessment_report_path(course.id, quiz.id) %> <span class="title">(Assessment)</span>
          </li>
        <% end -%>
      </ol>
    <% end -%>
  </ol>
</span>

<%= render :partial => 'reports/update_reports', :object => @report %>
