<% content_for :page_title do -%>Class Selection<% end -%>

<h1>View Reports for:</h1>

<table>
	<% @context.sub_accounts.active.each do |sub_account| -%>
		<% sub_account.sub_accounts.active.each do |sub_sub_account| -%>
			<% sub_sub_account.courses.active.each do |course| -%>
			  <tr>
			  	<td><%= link_to course.name, report_class_report_path(params[:report_id], course.id) %> </td>
			  </tr>
		  <% end -%>
	  <% end -%>
	<% end -%>
</table>