<% jammit_css :reports_index -%>

<% content_for :page_title do -%>Class Selection<% end -%>

<h1>View Reports for:</h1>

<table>
	<% @classes.each do |course| -%>
	  <tr>
	  	<td><%= link_to course.name, class_report_assessment_reports_path(course.id), :class => "button" %> </td>
	  </tr>
	<% end -%>
</table>
