<style>
#wrapper{
	margin: 0px;
}

.thank_you {
	text-align:center
}

</style>


<div class="thank_you">
	<%= image_tag("logo.png") %>
</div>
<div class="thank_you"> <p> Thank you for participating! </p> </div>
<div class="thank_you">Logging out in ... <b id="countdown">5</b> </div>
<div class="button-container thank_you">
	<%= link_to t('links.logout', "Logout"), logout_path, :method => :delete, :id => "countdown_logout", :class => "button" %>
</div>


<% js_block do %>

<script type="text/javascript"> 

	$(document).ready(function() {
		countDown();
	});
	
	
	function countDown(){
		var currentCount = parseInt($('#countdown').text());
		
		if (currentCount > 0){
			$('#countdown').text(--currentCount);
		}else{
			$('#countdown_logout').click();
			return;
		}
		setTimeout("countDown()",1000);	
	}
	
</script>

<% end -%>

