<div>
  <h4><b>Prior to Giving the Assessments</b></h4>

  <h4><b>Provide students with the personal login credentials.</b></h4>

  <ul>
    <li>For quicker and easier access to the website you may want to bookmark the website (elicitingmathmeaning.edc.org) or write the URL on the board for students.</li>
  </ul>

  <h4><b>Prior to Students Logging Into The Assessment</b></h4>

  <ul>
    <li>Students will see the assessment problems as soon as they login.</li><br/>

    <li><b>Read the instructions to students before they login.</b>  These instructions can be found on the Teacher Instruction page.</li>
  </ul>

  <h4><b>After Reading The Instructions To Students</b></h4>

  <ul>
    <li>Students should go to the website using a bookmark or typing in the URL: elicitingmathmeaning.edc.org</li><br/>

    <li>Students should enter the personal login credentials they have each been given.</li><br/>

    <li>Students should click the Login button once their credentials have been entered.</li><br/>

    <li>Students will see the assessment problems as soon as they login.</li><br/>

    <li>When students have completed the assessment, they should click the Submit button.</li><br/>

    <li>Students who do not finish the assessment in the allotted time the can click the Finish Later button.</li><br/>

    <li>As students click the Finish Later button or the Submit button they will be logged out of the assessment.</li><br/>
  </ul>
</div>
