<div>
  <h4><b>Background</b></h4>
  <p>The online, open source Cognitive Diagnostic Assessment System developed for the <i>Eliciting Mathematics Misconceptions (EM2) Project</i> will enable you to quickly and effectively diagnose commonly held student misconceptions and over-generalizations targeted by the assessment.  Once students have completed an assessment in the online system, reports will be generated about the students’ performance, including which students are likely to have one or more of the misconceptions targeted by the assessment.</p>

  <h4><b>Administering the Diagnostic Assessments</b></h4>

  <i>Prior to Giving the Assessments</i>
  <ul>
    <li><b>Arrange approximately 20 minutes</b> of class time to complete the administration process, including discussing instructions and student work time.</li><br/>
    <li><b>Do not do any special review of this topic before an assessment</b>, since the assessments are designed to elicit misconceptions before instruction. Please continue with your regularly scheduled mathematics instruction in the days leading up to the students completing any assessments.</li>
  </ul>

  <h4><b>Giving each assessment (the instructions are the same for all assessments.)</b></h4>
  <ul>
    <li>
      Inform the students about the assessment by reading the following:<br/><br/>

      <i>Today, you will complete a short activity.  This activity is designed to help me understand how you think about (the title of the assessment).</i>
    </li>
  </ul>

  <h4><b>If you print paper assessments for students to complete:</b></h4>

  <ul>
    <li>
      Distribute the paper assessments and read the following:<br/><br/>

      <i>This activity includes 10 problems.  For each problem, choose your answer by completely filling in the circle to show which answer you think is correct. Because the goal of the activity is to learn more about how you think about (the title of the assessment), it is important for you to include some kind of explanation in the space provided.  This can be a picture or words or something else that shows how you chose your answer.<br/><br/>

      You will have 15 minutes to complete all the problems.  When you finish raise your hand and I will collect your work.   When you are finished please (read, work on ____) until everyone is finished.</i>
    </li><br/>

    <li>Monitor the students working on the assessments.  Make sure students understand the directions.  Students should not use a calculator or other technology unless required as and IEP modification.</li><br/>

    <li>
      Although this is not a strictly timed assessment, it is designed to be completed within a 15-minute timeframe.  It is okay if students do not finish.  When 5 minutes remain, say:<br/><br/>

      <i>You have 5 minutes remaining.  Please make sure all of your answers are as complete as possible within the next five minutes.</i>
    </li><br/>

    <li>
      For students who are not finished and need more time, say:<br/><br/>

      <i>Time is up for today, please stop.  You will be given some time later to finish the problems.</i>
    </li><br/>

    <li>Collect all remaining assessments.</li><br/>

    <li>
      When you have collected all the assessments, say:<br/><br/>

      <i>Thank you for working on this activity today.</i>
    </li>
  </ul>


  <h4><b>If you are using the online assessments for students to complete:</b></h4>

  <ul>
    <li>
      Have students login to the EM2 website using their personal login credentials (http://elicitingmathmeaning.edc.org/login) and read the following:<br/><br/>

      <i>This activity includes 10 problems.  For each problem, choose your answer by clicking on the bubble next to your answer choice. Because the goal of the activity is to learn more about how you think about (the title of the assessment), it is important for you to include some kind of explanation in the space provided.  This can be a picture or words or something else that shows how you chose your answer. There is a text box for you to type an explanation or you can use the markers to draw a picture.  You can even do both to explain how you chose your answer.</i>

      <i>You will have 15 minutes to complete all the problems.  When you finish all the problems you will see a Submit Button.  Click the button to submit your answers.   When you are finished please (read, work on ____) until everyone is finished.</i>
    </li><br/>

    <li>Monitor the students working on the assessments.  Make sure students understand the directions.  Students should not use a calculator or other technology unless required as and IEP modification.</li><br/>

    <li>
      Although this is not a strictly timed assessment, it is designed to be completed within a 15 -minute timeframe.  It is okay if students do not finish.  When 5 minutes remain, say:<br/><br/>
      <i>You have 5 minutes remaining.  Please make sure all of your answers are as complete as possible with the next five minutes.</i>
    </li><br/>

    <li>As students finish they should click the Submit button.</li><br/>

    <li>
      For students who are not finished and need more time, say:<br/><br/>

      <i>Time is up for today please click the Finish Later button.  You will be given some time later to finish the problems.</i>
    </li><br/>

    <li>
      When students have all submitted their problems or clicked the Finish Later button, say:<br/><br/>

      <i>Thank you for working on this activity today.</i>
    </li>
  </ul>
</div>
