<h1>Listing Assessments Created</h1>
 
<table>
  <tr>
    <th>Assessment Name</th>
    <th>Students</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @ids.each do |id| %>
  <tr>
    <td><%= id.assessment_name %> &nbsp </td>
    <td><%= id.users.count %></td>
    <td><%= link_to 'Show', id %> &nbsp </td>
    <td><%= link_to 'Remove', id, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
 
<br />