<% content_for :page_title do %>School Rosters<% end %>

<h1>Course</h1>
 
<table>
  <tr>
    <th>Course Name</th>
  </tr>
 
<% @classrooms.each do |classroom| %>
  <tr>
    <td><%#= link_to classroom.name, classroom %> &nbsp </td>
  </tr>
<% end %>
</table>
 
<br />