<h2>View Class Rosters</h2>
<div class="rs-margin-lr">
	<% @school_rosters = Roster.all -%>
	<% @school_rosters.each do |roster| -%>
		<a href="<%= roster_path(roster) %>" class="button button-sidebar-wide"> <%= roster.name %> </a>
	<% end -%>
</div>