<h2><a href="<%= rosters_path %>">View Class Rosters</a></h2>
<div class="rs-margin-lr">
	<% @school_rosters = Roster.by_name -%>
	<% @school_rosters.each do |roster| -%>
		<a href="<%= roster_path(roster) %>" class="button button-sidebar-wide"> <%= roster.name %> </a>
	<% end -%>
</div>