<h2><a href="<%= rosters_path %>">View Class Rosters</a></h2>
<div class="rs-margin-lr">
	<% @school_rosters.each do |roster| -%>
		<% @found_teacher = false %>
		<% if roster.account.courses.are_available.count > 0 -%>
			<% roster.account.courses.by_name_available.each do |course| -%>
				<% course.teachers.each do |teacher| -%>
					<% if (teacher.id == @current_user.id) -%>
						<% @found_teacher = true -%>
						<% break %>
					<% end -%>
					<% if @found_teacher -%>
						<% break -%>
					<% end -%>
				<% end -%>
				<% if @found_teacher -%>
					<% break -%>
				<% end -%>
			<% end -%>
			<% if (@found_teacher || @is_admin) -%>
				<a href="<%= roster_path(roster) %>" class="button button-sidebar-wide"> <%= roster.name %> </a>
			<% end -%>
		<% end -%>
	<% end -%>
</div>