<h2>View Class Rosters for School</h2>
<% form_for :rosters, :url => select_school_path do |f| %>
	<% @rosters = Roster.all -%>
	&nbsp <%= f.label :rosters, 'Assessment #' %>
		&nbsp <%#= f.select :rosters, options_for_select(@rosters.collect { |rosters_list| [rosters_list.assessment_name, rosters_list.id] }) %> <br />
	&nbsp <%= f.submit 'View' %>
<% end -%>