<% content_for :page_title do -%>School Rosters<% end -%>

<div style="width:100%; height:345px; overflow:scroll">
  <ul>
    <% @courses.each do |course| -%>
      <li style="font-size:18px;"><%= link_to course.name, roster_path(course) %></td>
    <% end -%>
  </ul>
</div>