<% content_for :page_title do -%>School Rosters<% end -%>

<h1>View School Rosters</h1>
 
<table>
  <tr>
    <th>School Name</th>
  </tr>

<% @rosters.each do |roster| -%>
  <tr>
  	<% if roster.account.courses.are_available.count > 0 -%>
	  	<% @found_teacher = false %>
  		<% roster.account.courses.each do |course| -%>
			<% course.teachers.each do |teacher| -%>
				<% if (teacher.id == @current_user.id) -%>
					<% @found_teacher = true -%>
					<% break %>
				<% end -%>
				<% if @found_teacher -%>
					<% break -%>
				<% end -%>
			<% end -%>
			<% if @found_teacher -%>
				<% break -%>
			<% end -%>
		<% end -%>
		<% if (@found_teacher || @is_admin) -%>
	    	<td><%= link_to roster.name, roster_path(roster) %> &nbsp </td>
    	<% end -%>
    <% end -%>
  </tr>
<% end -%>
</table>
 
<br />
