<% content_for :page_title do %>School Rosters<% end %>

<h1>School Rosters</h1>
 
<table>
  <tr>
    <th>Roster Name</th>
  </tr>
 
<% @rosters.each do |roster| %>
  <tr>
    <td><%= link_to roster.name, roster %> &nbsp </td>
  </tr>
<% end %>
</table>
 
<br />