<% content_for :page_title do %><%= @current_roster.name %><% end %>

<table>
  <tr>
    <th>Schools</th>
  </tr>

<% @current_roster.classrooms.each do |school| %>	
  <tr>
    <td><%= link_to school.name, roster_classroom_path(:roster_id => @current_roster.id, :id => school.id)%> &nbsp </td>
  </tr>
<% end %>
</table>
 
<br />