<% content_for :page_title do %><%= @current_roster.name %><% end %>

<table>
  <tr>
    <th>Schools</th>
  </tr>
 
<% @current_roster.sub_accounts.each do |sub_account| %>	
  <tr>
    <td><%= link_to sub_account.name, sub_account.classroom %> &nbsp </td>
  </tr>
<% end %>
</table>
 
<br />