.explain_answer {
  margin-left: 230px; }

.answers_compare_fractions_question {
  display: table; }
  .answers_compare_fractions_question .answers {
    display: table-cell;
    vertical-align: top;
    padding-top: 8px; }
  .answers_compare_fractions_question .question_text {
    display: table-cell; }

.question_answer_holder {
  padding-left: 47px; }

.question .text .answers .answer {
  padding: 5px 2px !important;
  margin: 0 !important; }

.explain_area_text_compare_fractions_question .explain_area_text_compare_decimals_question .explain_area_text_compare_decimal_fraction_question {
  padding: 3px 6px;
  margin-top: 6px; }

.answers_compare_fractions_question .answers_compare_decimal_fraction_question {
  float: left;
  margin-top: 70px;
  padding-left: 5px;
  padding-right: 5px; }

.answers_compare_decimals_question {
  float: left;
  margin-top: 70px;
  padding-left: 0px;
  padding-right: 0px; }

.question_right_side_compare_decimals_question {
  padding-right: 0px; }

.question_text_compare_fractions_question_frac {
  float: left;
  margin-top: 0px;
  margin-left: -5px; }

.question_right_side_compare_fractions_question {
  padding-left: 10px; }
  .question_right_side_compare_fractions_question .question_right_side_compare_decimal_fraction_question {
    padding-right: 13px; }

.question_text_compare_decimals_question_frac {
  float: left;
  margin-top: 90px; }

.question_text_compare_decimal_fraction_question_frac {
  float: left;
  margin-top: 80px; }

.question_text_compare_decimals_question {
  float: left;
  margin-top: 105px; }

.question_text_compare_decimal_fraction_question {
  float: left;
  margin-top: 90px; }

#explain_text {
  float: left;
  margin-left: 7px;
  padding-left: 15px; }
