/* line 2, ../../../app/stylesheets/comparing.sass */
.compare_fractions_question .explain_answer, .compare_decimals_question .explain_answer, .compare_decimal_fraction_question .explain_answer {
  margin-left: 230px; }
/* line 6, ../../../app/stylesheets/comparing.sass */
.compare_fractions_question .answers_compare_fractions_question .answers, .compare_decimals_question .answers_compare_fractions_question .answers, .compare_decimal_fraction_question .answers_compare_fractions_question .answers {
  vertical-align: top;
  margin-top: 8px;
  margin-left: 15px; }
/* line 11, ../../../app/stylesheets/comparing.sass */
.compare_fractions_question .question_answer_holder, .compare_decimals_question .question_answer_holder, .compare_decimal_fraction_question .question_answer_holder {
  padding-left: 15px;
  margin-top: 70px; }
/* line 18, ../../../app/stylesheets/comparing.sass */
.compare_fractions_question .question .text .answers .answer, .compare_decimals_question .question .text .answers .answer, .compare_decimal_fraction_question .question .text .answers .answer {
  padding: 5px 2px !important;
  margin: 0 !important; }
/* line 23, ../../../app/stylesheets/comparing.sass */
.compare_fractions_question .answers_compare_fractions_question .answers_compare_decimal_fraction_question, .compare_decimals_question .answers_compare_fractions_question .answers_compare_decimal_fraction_question, .compare_decimal_fraction_question .answers_compare_fractions_question .answers_compare_decimal_fraction_question {
  float: left;
  margin-top: 70px;
  padding-left: 5px;
  padding-right: 5px; }
/* line 29, ../../../app/stylesheets/comparing.sass */
.compare_fractions_question .answers_compare_decimals_question, .compare_decimals_question .answers_compare_decimals_question, .compare_decimal_fraction_question .answers_compare_decimals_question {
  float: left; }
/* line 32, ../../../app/stylesheets/comparing.sass */
.compare_fractions_question .question_right_side_compare_decimals_question, .compare_decimals_question .question_right_side_compare_decimals_question, .compare_decimal_fraction_question .question_right_side_compare_decimals_question {
  padding-right: 0px; }
/* line 35, ../../../app/stylesheets/comparing.sass */
.compare_fractions_question .question_text_compare_fractions_question_frac, .compare_decimals_question .question_text_compare_fractions_question_frac, .compare_decimal_fraction_question .question_text_compare_fractions_question_frac {
  float: left;
  margin-top: 19px;
  margin-left: -5px; }
/* line 40, ../../../app/stylesheets/comparing.sass */
.compare_fractions_question .question_right_side_compare_fractions_question, .compare_decimals_question .question_right_side_compare_fractions_question, .compare_decimal_fraction_question .question_right_side_compare_fractions_question {
  margin-left: 167px;
  margin-top: -64px; }
  /* line 43, ../../../app/stylesheets/comparing.sass */
  .compare_fractions_question .question_right_side_compare_fractions_question .question_right_side_compare_decimal_fraction_question, .compare_decimals_question .question_right_side_compare_fractions_question .question_right_side_compare_decimal_fraction_question, .compare_decimal_fraction_question .question_right_side_compare_fractions_question .question_right_side_compare_decimal_fraction_question {
    padding-right: 13px; }
/* line 46, ../../../app/stylesheets/comparing.sass */
.compare_fractions_question .question_text_compare_decimals_question_frac, .compare_decimals_question .question_text_compare_decimals_question_frac, .compare_decimal_fraction_question .question_text_compare_decimals_question_frac {
  float: left;
  margin-top: 90px; }
/* line 50, ../../../app/stylesheets/comparing.sass */
.compare_fractions_question .question_text_compare_decimal_fraction_question_frac, .compare_decimals_question .question_text_compare_decimal_fraction_question_frac, .compare_decimal_fraction_question .question_text_compare_decimal_fraction_question_frac {
  float: left;
  margin-top: 11px; }
/* line 54, ../../../app/stylesheets/comparing.sass */
.compare_fractions_question .question_text_compare_decimals_question, .compare_decimals_question .question_text_compare_decimals_question, .compare_decimal_fraction_question .question_text_compare_decimals_question {
  float: left;
  margin-top: 34px; }
/* line 58, ../../../app/stylesheets/comparing.sass */
.compare_fractions_question .question_text_compare_decimal_fraction_question, .compare_decimals_question .question_text_compare_decimal_fraction_question, .compare_decimal_fraction_question .question_text_compare_decimal_fraction_question {
  float: left;
  margin-top: 90px; }
/* line 62, ../../../app/stylesheets/comparing.sass */
.compare_fractions_question #explain_text, .compare_decimals_question #explain_text, .compare_decimal_fraction_question #explain_text {
  text-align: left; }
/* line 65, ../../../app/stylesheets/comparing.sass */
.compare_fractions_question .explain_canvas, .compare_decimals_question .explain_canvas, .compare_decimal_fraction_question .explain_canvas {
  cursor: pointer;
  float: left;
  margin-top: 9px;
  margin-bottom: 10px; }
  /* line 70, ../../../app/stylesheets/comparing.sass */
  .compare_fractions_question .explain_canvas:active, .compare_fractions_question .explain_canvas:focus, .compare_decimals_question .explain_canvas:active, .compare_decimals_question .explain_canvas:focus, .compare_decimal_fraction_question .explain_canvas:active, .compare_decimal_fraction_question .explain_canvas:focus {
    cursor: crosshair; }
/* line 73, ../../../app/stylesheets/comparing.sass */
.compare_fractions_question .explain_area_text, .compare_decimals_question .explain_area_text, .compare_decimal_fraction_question .explain_area_text {
  float: left; }
/* line 76, ../../../app/stylesheets/comparing.sass */
.compare_fractions_question .explain_area_textarea_CF, .compare_decimals_question .explain_area_textarea_CF, .compare_decimal_fraction_question .explain_area_textarea_CF {
  margin-top: 1px;
  font-size: 13px;
  width: 584px;
  height: 200px;
  resize: vertical;
  border: 1px solid; }

/* line 85, ../../../app/stylesheets/comparing.sass */
.compare_decimals_question .question_answer_holder {
  margin-right: 10px; }
/* line 87, ../../../app/stylesheets/comparing.sass */
.compare_decimals_question .explain_canvas {
  margin-left: 38px; }

/* line 91, ../../../app/stylesheets/comparing.sass */
.compare_decimal_fraction_question .question_text_compare_decimal_fraction_question {
  margin-top: 20px;
  margin-right: 5px; }
/* line 94, ../../../app/stylesheets/comparing.sass */
.compare_decimal_fraction_question .question_right_side_compare_decimal_fraction_question {
  margin-top: -50px;
  margin-left: 180px; }
