.compare_fractions_question .explain_answer, .compare_decimals_question .explain_answer, .compare_decimal_fraction_question .explain_answer {
  margin-left: 230px;
  width: 590px; }
.compare_fractions_question .answers_compare_fractions_question .answers, .compare_decimals_question .answers_compare_fractions_question .answers, .compare_decimal_fraction_question .answers_compare_fractions_question .answers {
  vertical-align: top;
  margin-top: 8px;
  margin-left: 15px; }
.compare_fractions_question .question_answer_holder, .compare_decimals_question .question_answer_holder, .compare_decimal_fraction_question .question_answer_holder {
  padding-left: 15px;
  margin-top: 70px; }
.compare_fractions_question .question .text .answers .answer, .compare_decimals_question .question .text .answers .answer, .compare_decimal_fraction_question .question .text .answers .answer {
  padding: 5px 2px !important;
  margin: 0 !important; }
.compare_fractions_question .answers_compare_fractions_question .answers_compare_decimal_fraction_question, .compare_decimals_question .answers_compare_fractions_question .answers_compare_decimal_fraction_question, .compare_decimal_fraction_question .answers_compare_fractions_question .answers_compare_decimal_fraction_question {
  float: left;
  margin-top: 70px;
  padding-left: 5px;
  padding-right: 5px; }
.compare_fractions_question .answers_compare_decimals_question, .compare_decimals_question .answers_compare_decimals_question, .compare_decimal_fraction_question .answers_compare_decimals_question {
  float: left; }
.compare_fractions_question .question_right_side_compare_decimals_question, .compare_decimals_question .question_right_side_compare_decimals_question, .compare_decimal_fraction_question .question_right_side_compare_decimals_question {
  padding-right: 0px; }
.compare_fractions_question .question_text_compare_fractions_question_frac, .compare_decimals_question .question_text_compare_fractions_question_frac, .compare_decimal_fraction_question .question_text_compare_fractions_question_frac {
  float: left;
  margin-top: 19px;
  margin-left: -5px; }
.compare_fractions_question .question_right_side_compare_fractions_question, .compare_decimals_question .question_right_side_compare_fractions_question, .compare_decimal_fraction_question .question_right_side_compare_fractions_question {
  margin-left: 167px;
  margin-top: -64px; }
  .compare_fractions_question .question_right_side_compare_fractions_question .question_right_side_compare_decimal_fraction_question, .compare_decimals_question .question_right_side_compare_fractions_question .question_right_side_compare_decimal_fraction_question, .compare_decimal_fraction_question .question_right_side_compare_fractions_question .question_right_side_compare_decimal_fraction_question {
    padding-right: 13px; }
.compare_fractions_question .question_text_compare_decimals_question_frac, .compare_decimals_question .question_text_compare_decimals_question_frac, .compare_decimal_fraction_question .question_text_compare_decimals_question_frac {
  float: left;
  margin-top: 90px; }
.compare_fractions_question .question_text_compare_decimal_fraction_question_frac, .compare_decimals_question .question_text_compare_decimal_fraction_question_frac, .compare_decimal_fraction_question .question_text_compare_decimal_fraction_question_frac {
  float: left;
  margin-top: 11px; }
.compare_fractions_question .question_text_compare_decimals_question, .compare_decimals_question .question_text_compare_decimals_question, .compare_decimal_fraction_question .question_text_compare_decimals_question {
  float: left;
  margin-top: 34px; }
.compare_fractions_question .question_text_compare_decimal_fraction_question, .compare_decimals_question .question_text_compare_decimal_fraction_question, .compare_decimal_fraction_question .question_text_compare_decimal_fraction_question {
  float: left;
  margin-top: 90px; }
.compare_fractions_question #explain_text, .compare_decimals_question #explain_text, .compare_decimal_fraction_question #explain_text {
  margin-left: 10px; }
.compare_fractions_question .explain_canvas, .compare_decimals_question .explain_canvas, .compare_decimal_fraction_question .explain_canvas {
  cursor: pointer;
  float: left;
  margin-top: 9px;
  margin-bottom: 10px; }
  .compare_fractions_question .explain_canvas:active, .compare_fractions_question .explain_canvas:focus, .compare_decimals_question .explain_canvas:active, .compare_decimals_question .explain_canvas:focus, .compare_decimal_fraction_question .explain_canvas:active, .compare_decimal_fraction_question .explain_canvas:focus {
    cursor: crosshair; }
.compare_fractions_question .explain_area_text, .compare_decimals_question .explain_area_text, .compare_decimal_fraction_question .explain_area_text {
  float: left; }
.compare_fractions_question .explain_area_textarea_CF, .compare_decimals_question .explain_area_textarea_CF, .compare_decimal_fraction_question .explain_area_textarea_CF {
  margin-top: 1px;
  font-size: 13px;
  width: 100%;
  height: 200px;
  resize: vertical;
  border: 1px solid; }

.compare_decimals_question .question_answer_holder {
  margin-right: 10px; }

.compare_decimal_fraction_question .question_text_compare_decimal_fraction_question {
  margin-top: 20px;
  margin-right: 5px; }
.compare_decimal_fraction_question .question_right_side_compare_decimal_fraction_question {
  margin-top: -50px;
  margin-left: 180px; }
