.estimating_fractions_addition_question .explain_answer {
  margin-left: 200px;
  width: 585px; }
.estimating_fractions_addition_question #explain_text {
  margin-left: 10px; }
.estimating_fractions_addition_question .explain_area_text {
  margin-top: 6px;
  width: 100%; }
.estimating_fractions_addition_question .answers_estimating_fractions_addition_question {
  float: left;
  margin-left: -18px; }
.estimating_fractions_addition_question .answer_input {
  vertical-align: middle !important; }
.estimating_fractions_addition_question .question_text {
  max-width: 150px; }
.estimating_fractions_addition_question .explain_canvas {
  cursor: pointer;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px; }
  .estimating_fractions_addition_question .explain_canvas:active, .estimating_fractions_addition_question .explain_canvas:focus {
    cursor: crosshair; }
.estimating_fractions_addition_question .explain_area_textarea_EF {
  margin-top: 1px;
  font-size: 13px;
  width: 100%;
  height: 200px;
  resize: vertical;
  border: 1px solid; }
