.fractions_adding_subtracting_question .explain_answer {
  margin-left: 165px;
  width: 585px; }
.fractions_adding_subtracting_question #explain_text {
  margin-left: 10px; }
.fractions_adding_subtracting_question .explain_area_text_FAS {
  margin-top: 6px;
  margin-left: 3px;
  float: left; }
.fractions_adding_subtracting_question .answers_fractions_adding_subtracting_question {
  float: left; }
.fractions_adding_subtracting_question .answer_input {
  vertical-align: middle !important; }
.fractions_adding_subtracting_question .question_text {
  max-width: 150px;
  margin-left: 22px; }
.fractions_adding_subtracting_question .explain_canvas {
  cursor: pointer;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px; }
  .fractions_adding_subtracting_question .explain_canvas:active, .fractions_adding_subtracting_question .explain_canvas:focus {
    cursor: crosshair; }
.fractions_adding_subtracting_question .explain_area_textarea_FAS {
  margin-top: 10px;
  font-size: 13px;
  width: 100%;
  height: 200px;
  resize: vertical;
  border: 1px solid; }
