/* line 2, ../../../app/stylesheets/locate_fractions.sass */
.locate_fractions_question .explain_answer {
  margin-left: 165px; }
/* line 5, ../../../app/stylesheets/locate_fractions.sass */
.locate_fractions_question #explain_text {
  float: left;
  margin-left: 10px; }
/* line 9, ../../../app/stylesheets/locate_fractions.sass */
.locate_fractions_question .explain_area_text_LF {
  margin-top: 6px;
  margin-left: 3px;
  float: left; }
/* line 14, ../../../app/stylesheets/locate_fractions.sass */
.locate_fractions_question .answers_LF {
  float: left;
  margin-top: 20px; }
/* line 18, ../../../app/stylesheets/locate_fractions.sass */
.locate_fractions_question .question_text {
  max-width: 150px; }
/* line 21, ../../../app/stylesheets/locate_fractions.sass */
.locate_fractions_question .explain_canvas {
  cursor: pointer;
  float: left;
  margin-left: 4px;
  margin-bottom: 10px;
  margin-top: 10px; }
  /* line 27, ../../../app/stylesheets/locate_fractions.sass */
  .locate_fractions_question .explain_canvas:active, .locate_fractions_question .explain_canvas:focus {
    cursor: crosshair; }
/* line 30, ../../../app/stylesheets/locate_fractions.sass */
.locate_fractions_question .explain_area_textarea_LF {
  margin-top: 10px;
  font-size: 13px;
  width: 600px;
  height: 200px;
  resize: vertical; }
