.locate_fractions_question .explain_answer {
  margin-left: 165px;
  width: 707px; }
.locate_fractions_question #explain_text {
  margin-left: 10px; }
.locate_fractions_question .explain_area_text_LF {
  margin-top: 6px;
  width: 100%; }
.locate_fractions_question .answers_LF {
  float: left;
  margin-top: 20px; }
.locate_fractions_question .question_text {
  max-width: 150px; }
.locate_fractions_question .explain_canvas {
  cursor: pointer;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px; }
  .locate_fractions_question .explain_canvas:active, .locate_fractions_question .explain_canvas:focus {
    cursor: crosshair; }
.locate_fractions_question .explain_area_textarea_LF {
  margin-top: 1px;
  font-size: 13px;
  width: 100%;
  height: 200px;
  resize: vertical;
  border: 1px solid; }
