.misconception {
  border: 2px solid #888888;
  border-radius: 3px;
  background-color: #f6f6f6; }
  .misconception .misconception_piece {
    padding-left: 5px; }
    .misconception .misconception_piece td.s1 {
      border-right: 1px solid black;
      border-bottom: 1px solid black; }
    .misconception .misconception_piece td.s2 {
      border-right: 1px solid black;
      border-bottom: 1px solid black; }
    .misconception .misconception_piece td.s3 {
      border-right: 1px solid black;
      border-bottom: 1px solid black; }
  .misconception .name {
    font-size: 25px; }
  .misconception .responses {
    font-size: 15px; }
  .misconception .explanation_url {
    font-size: 15px; }
  .misconception .description {
    font-size: 15px; }
  .misconception td {
    padding: 4px;
    text-align: center; }
  .misconception .misconception_piece_title {
    border-bottom: 1px solid #888888; }
  .misconception .edit_misconception_link, .misconception .update_misconception_link {
    margin-top: 5px;
    margin-left: 5px; }

.misconception_limits {
  margin-bottom: 10px;
  margin-top: 15px;
  border-top: 2px solid #777777;
  border-bottom: 2px solid #777777;
  background-color: #e5e5e5; }
  .misconception_limits td {
    padding: 4px;
    text-align: center; }
  .misconception_limits .title {
    margin-left: 15px; }

.line {
  border-bottom: 1px solid #777777; }
