.represent_fractions_question .explain_answer {
  margin-left: 250px; }
.represent_fractions_question #explain_text {
  text-align: left;
  margin-left: 10px; }
.represent_fractions_question .explain_area_text_RF {
  margin-top: 6px;
  margin-left: 9px; }
.represent_fractions_question .question_text_RF {
  font-size: 24px; }
.represent_fractions_question .question_image_RF {
  margin-top: 10px;
  margin-bottom: 10px; }
.represent_fractions_question .question_image_RF img {
  width: 200px; }
.represent_fractions_question .equation_image {
  vertical-align: middle; }
.represent_fractions_question .explain_canvas {
  cursor: pointer;
  float: left;
  margin-left: 9px;
  margin-bottom: 10px; }
  .represent_fractions_question .explain_canvas:active, .represent_fractions_question .explain_canvas:focus {
    cursor: crosshair; }
.represent_fractions_question .explain_area_textarea_RF {
  margin-top: 1px;
  font-size: 13px;
  width: 600px;
  height: 200px;
  resize: vertical;
  border: 1px solid; }
