/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
/* line 6, ../../../app/stylesheets/styles.scss */
body {
  padding-top: 50px; }

/*
 * Global add-ons
 */
/* line 15, ../../../app/stylesheets/styles.scss */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }

/* line 20, ../../../app/stylesheets/styles.scss */
#footer {
  padding-left: 25px; }

/*
 * Sidebar
 */
/* Hide for mobile, show later */
/* line 29, ../../../app/stylesheets/styles.scss */
.sidebar {
  display: none; }

@media (min-width: 768px) {
  /* line 33, ../../../app/stylesheets/styles.scss */
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee; }

  /*assessment navigation*/
  /* line 48, ../../../app/stylesheets/styles.scss */
  #sub-navigation-bar {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px; }

  /* Sidebar navigation */
  /* line 56, ../../../app/stylesheets/styles.scss */
  .nav-sidebar {
    margin-right: -21px;
    margin-bottom: 10px;
    margin-left: -20px;
    text-decoration: none; }

  /* line 62, ../../../app/stylesheets/styles.scss */
  .nav-sidebar > li > a {
    text-decoration: none; }

  /* line 65, ../../../app/stylesheets/styles.scss */
  .nav-sidebar > .active > a {
    color: #fff !important;
    background-color: #428bca; }

  /* line 70, ../../../app/stylesheets/styles.scss */
  .nav-sidebar > .active > a:hover {
    color: #428bca; }

  /* line 74, ../../../app/stylesheets/styles.scss */
  .nav-sidebar-subhead {
    font-size: 12px;
    text-indent: 20px; } }
/* line 80, ../../../app/stylesheets/styles.scss */
.nav-sidebar-subhead > li > a {
  padding-right: 20px;
  padding-left: 20px; }

/* line 84, ../../../app/stylesheets/styles.scss */
.subactive > a {
  background-color: #e0e0e0; }

/* line 91, ../../../app/stylesheets/styles.scss */
.sidebar-head {
  margin-bottom: 0;
  border-bottom: 1px solid #DDD; }

/* line 96, ../../../app/stylesheets/styles.scss */
#sidebar_title {
  float: left;
  padding: 23px 0 5px 15px;
  margin: 0; }

/* line 102, ../../../app/stylesheets/styles.scss */
.sidebar-head > a:hover {
  background-color: transparent; }

/* line 105, ../../../app/stylesheets/styles.scss */
.sidebar-head .glyphicon {
  font-size: 14px;
  font-weight: normal;
  float: right;
  margin: 0;
  padding-top: 31px; }

/* line 113, ../../../app/stylesheets/styles.scss */
.teachbody {
  font-size: 15px; }

/* line 117, ../../../app/stylesheets/styles.scss */
.sidebar_assessment {
  padding-left: 20px !important; }

/*
 * Main content
 */
/* line 125, ../../../app/stylesheets/styles.scss */
.main {
  padding: 20px; }

@media (min-width: 768px) {
  /* line 129, ../../../app/stylesheets/styles.scss */
  .main {
    padding-right: 40px;
    padding-left: 40px; } }
/* line 134, ../../../app/stylesheets/styles.scss */
.main .page-header {
  margin-top: 0; }

/*
 * Placeholder dashboard ideas
 */
/* line 146, ../../../app/stylesheets/styles.scss */
.placeholders {
  margin-bottom: 30px;
  text-align: center; }

/* line 150, ../../../app/stylesheets/styles.scss */
.placeholders h4 {
  margin-bottom: 0; }

/* line 153, ../../../app/stylesheets/styles.scss */
.placeholder {
  margin-bottom: 20px; }

/* line 156, ../../../app/stylesheets/styles.scss */
.placeholder img {
  display: inline-block;
  border-radius: 50%; }

/* sidebar */
/* line 167, ../../../app/stylesheets/styles.scss */
.assessments {
  padding-left: 25px;
  font-size: 12px;
  text-indent: 10px; }

/* line 173, ../../../app/stylesheets/styles.scss */
.sidebar_course_name {
  font-size: 14px;
  padding-left: 20px !important; }

/* line 178, ../../../app/stylesheets/styles.scss */
.sidebar_text {
  color: #428bca !important; }

/* navbar */
/* line 184, ../../../app/stylesheets/styles.scss */
.navbar-nav > li > a {
  padding-top: 14px; }

/* line 188, ../../../app/stylesheets/styles.scss */
.nav_text {
  margin-top: -7px; }

/* assessment navbar */
/* line 193, ../../../app/stylesheets/styles.scss */
.navbar-title {
  font-size: 28px;
  color: #777777 !important;
  margin-bottom: inherit;
  padding: 19px 0px 0px 15px; }

/* line 200, ../../../app/stylesheets/styles.scss */
.assessment_navbar_links {
  padding-top: 11px;
  padding-left: 20px; }

/* line 205, ../../../app/stylesheets/styles.scss */
#assessment_nav_box {
  padding-top: 3px; }

/* line 209, ../../../app/stylesheets/styles.scss */
.btn .btn-primary {
  padding-top: 50px; }

/* line 217, ../../../app/stylesheets/styles.scss */
.navbar-nav > .active > a {
  height: 60px; }

/* line 226, ../../../app/stylesheets/styles.scss */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: none;
  color: none; }

/* line 231, ../../../app/stylesheets/styles.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #428bca; }

/* line 236, ../../../app/stylesheets/styles.scss */
.container-fluid {
  margin-top: 0px; }

/* line 239, ../../../app/stylesheets/styles.scss */
.assessment-nav {
  padding-top: 35px; }

/*Course Pages*/
/* line 245, ../../../app/stylesheets/styles.scss */
#roster_names {
  padding-left: 15px; }

/* line 249, ../../../app/stylesheets/styles.scss */
.print_instructions {
  display: none; }

/* line 253, ../../../app/stylesheets/styles.scss */
.roster_nav {
  min-height: 60px;
  margin-bottom: -4px; }

/* line 258, ../../../app/stylesheets/styles.scss */
.sub_navbar {
  margin-top: -20px; }

/* line 262, ../../../app/stylesheets/styles.scss */
.sub_navbar > li {
  margin-top: 5px;
  margin-bottom: 5px; }

/* line 267, ../../../app/stylesheets/styles.scss */
.sub_navbar > li > a {
  color: #428bca !important;
  display: inline-block;
  float: right;
  font-size: 11pt;
  padding-top: 20px; }

/* line 275, ../../../app/stylesheets/styles.scss */
.sub_navbar > li > a:hover {
  color: black;
  height: 60px; }

/* line 281, ../../../app/stylesheets/styles.scss */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
  border-color: #428bca; }

/* line 286, ../../../app/stylesheets/styles.scss */
.navbar {
  min-height: 40px;
  margin-bottom: 20px;
  border: 1px solid transparent; }

/* line 292, ../../../app/stylesheets/styles.scss */
.navbar-collapse {
  max-height: 800px;
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  padding: 15px;
  font-size: 18px;
  line-height: 20px;
  height: 30px;
  font-color: #428bca; }

/* line 304, ../../../app/stylesheets/styles.scss */
#assessment_navbar {
  padding: 0px; }

/* line 308, ../../../app/stylesheets/styles.scss */
.navbar-brand:hover, .navbar-brand:focus {
  padding: 14px;
  background-color: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

/* line 316, ../../../app/stylesheets/styles.scss */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent; }

/* line 321, ../../../app/stylesheets/styles.scss */
.navbar-inverse {
  background-color: #c1dccd;
  border-color: #c1dccd; }

/* line 327, ../../../app/stylesheets/styles.scss */
.navbar-inverse .navbar-brand {
  color: #333333; }

/* line 332, ../../../app/stylesheets/styles.scss */
.navbar-inverse .navbar-nav > li > a {
  /*color:#333*/ }

/* line 336, ../../../app/stylesheets/styles.scss */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  /*background-color:#080808;
  color:#fff*/ }

/* line 341, ../../../app/stylesheets/styles.scss */
.panel-heading > .dropdown .dropdown-toggle {
  color: #333; }

/* line 345, ../../../app/stylesheets/styles.scss */
.sidebar-head {
  color: #777;
  font-size: 22px;
  text-decoration: none; }

/* line 351, ../../../app/stylesheets/styles.scss */
.navbar-user {
  float: right;
  padding: 15px;
  font-size: 15px;
  line-height: 20px;
  height: 50px; }

/*quizzes index*/
/* line 364, ../../../app/stylesheets/styles.scss */
ul.quiz_list {
  margin-top: 5px;
  padding-left: 10px; }

/* line 368, ../../../app/stylesheets/styles.scss */
ul.quiz_list li.quiz {
  list-style-type: none;
  display: block;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  min-height: 94px; }

/* line 376, ../../../app/stylesheets/styles.scss */
ul.quiz_list li.quiz.unpublished {
  border-width: 2px; }

/* line 379, ../../../app/stylesheets/styles.scss */
ul.quiz_list li.quiz div.title {
  font-size: 1.2em;
  font-weight: bold; }

/* line 383, ../../../app/stylesheets/styles.scss */
ul.quiz_list li.quiz div.description {
  font-size: 0.85em;
  margin-left: 20px; }

/* line 387, ../../../app/stylesheets/styles.scss */
ul.quiz_list li.quiz div.description .quiz_info {
  margin-left: 20px; }

/*teacher instructions*/
/* line 393, ../../../app/stylesheets/styles.scss */
#teacher_instructions {
  font-size: 15px;
  padding-left: 20px; }
  /* line 396, ../../../app/stylesheets/styles.scss */
  #teacher_instructions h1 {
    font-size: 33px;
    font-weight: bold; }
  /* line 400, ../../../app/stylesheets/styles.scss */
  #teacher_instructions h4 {
    font-size: 24px; }

/*add assessment*/
/* line 407, ../../../app/stylesheets/styles.scss */
.add_assessment_course_title {
  font-size: 18px; }

/* line 411, ../../../app/stylesheets/styles.scss */
#add_assessment_table {
  padding-left: 15px; }
  /* line 413, ../../../app/stylesheets/styles.scss */
  #add_assessment_table table {
    max-width: 900px; }
    /* line 415, ../../../app/stylesheets/styles.scss */
    #add_assessment_table table a {
      color: #428bca; }
    /* line 418, ../../../app/stylesheets/styles.scss */
    #add_assessment_table table p {
      margin-bottom: 0;
      color: #777777; }
  /* line 423, ../../../app/stylesheets/styles.scss */
  #add_assessment_table th {
    border: none; }
  /* line 426, ../../../app/stylesheets/styles.scss */
  #add_assessment_table h2 {
    font-size: 24px;
    color: #777777; }

/*add course page*/
/* line 434, ../../../app/stylesheets/styles.scss */
#add_course_form {
  width: 100%; }

/* line 438, ../../../app/stylesheets/styles.scss */
#new_course_name_field {
  width: 300px; }

/* line 442, ../../../app/stylesheets/styles.scss */
#new_course_roster_area {
  width: 375px;
  height: 125px; }

/*quiz preview*/
/* line 448, ../../../app/stylesheets/styles.scss */
#take_quiz_content {
  margin-left: 15px; }

/* line 452, ../../../app/stylesheets/styles.scss */
#preview_warning_area {
  max-width: 936px; }

/* line 456, ../../../app/stylesheets/styles.scss */
#preview_warning_area * {
  display: inline-block; }

/* line 460, ../../../app/stylesheets/styles.scss */
#preview_pdf {
  float: right; }

/*misconceptions page*/
/* line 465, ../../../app/stylesheets/styles.scss */
#assessment_misconceptions_page {
  margin-left: 15px; }
  /* line 467, ../../../app/stylesheets/styles.scss */
  #assessment_misconceptions_page .misconception_heading {
    font-size: 18px; }
  /* line 470, ../../../app/stylesheets/styles.scss */
  #assessment_misconceptions_page .misconception_links {
    font-style: italic; }
  /* line 473, ../../../app/stylesheets/styles.scss */
  #assessment_misconceptions_page .misconception_student_names {
    font-size: 15px; }

/*individual responses*/
/* line 479, ../../../app/stylesheets/styles.scss */
#individual_results_page {
  margin-left: 15px;
  margin-top: 15px; }

/* line 484, ../../../app/stylesheets/styles.scss */
#individual_responses_student_dropdown {
  border-radius: 0;
  margin-bottom: 15px; }

/* line 489, ../../../app/stylesheets/styles.scss */
.invidivual_responses_student_dropdown_name {
  margin-bottom: 3px !important;
  padding-left: 15px; }

/* line 494, ../../../app/stylesheets/styles.scss */
#invidivual_responses_student_dropdown_menu {
  margin-top: -16px; }

/* line 498, ../../../app/stylesheets/styles.scss */
.individual_results_next_button {
  margin-left: -1px; }

/*statistics page*/
/* line 504, ../../../app/stylesheets/styles.scss */
#assessment_statistics_page {
  margin-left: 15px; }
