/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
/* line 8, ../../../app/stylesheets/styles.scss */
body {
  padding-top: 50px; }

/*
 * Global add-ons
 */
/* line 17, ../../../app/stylesheets/styles.scss */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }

/* line 22, ../../../app/stylesheets/styles.scss */
#footer {
  padding-left: 25px; }

/*
 * Sidebar
 */
/* Hide for mobile, show later */
/* line 32, ../../../app/stylesheets/styles.scss */
.sidebar {
  display: none; }

@media (min-width: 768px) {
  /* line 36, ../../../app/stylesheets/styles.scss */
  .sidebar {
    width: 298px;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    padding: 0; }

  /*assessment navigation*/
  /* line 53, ../../../app/stylesheets/styles.scss */
  #sub-navigation-bar {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px; }

  /* Sidebar navigation */
  /* line 61, ../../../app/stylesheets/styles.scss */
  .nav-sidebar {
    text-decoration: none; }

  /* line 65, ../../../app/stylesheets/styles.scss */
  .assessments {
    padding-left: 25px;
    font-size: 12px; }

  /* line 70, ../../../app/stylesheets/styles.scss */
  .nav-sidebar > li > a {
    text-decoration: none; }

  /* line 74, ../../../app/stylesheets/styles.scss */
  .sidebar_text {
    color: #428bca !important; }

  /* line 79, ../../../app/stylesheets/styles.scss */
  .nav-sidebar .active {
    background-color: #428bca;
    color: #fff !important; }
    /* line 82, ../../../app/stylesheets/styles.scss */
    .nav-sidebar .active a {
      color: #fff !important; }
    /* line 85, ../../../app/stylesheets/styles.scss */
    .nav-sidebar .active .sidebar_x {
      color: #fff !important; }
    /* line 88, ../../../app/stylesheets/styles.scss */
    .nav-sidebar .active a:hover {
      background-color: #428bca; }

  /* line 94, ../../../app/stylesheets/styles.scss */
  .nav-sidebar > .active > a:hover {
    color: #428bca; }

  /* line 98, ../../../app/stylesheets/styles.scss */
  .nav-sidebar-subhead {
    font-size: 12px;
    text-indent: 20px; } }
/* line 104, ../../../app/stylesheets/styles.scss */
.nav-sidebar-subhead > li > a {
  padding-right: 20px;
  padding-left: 20px; }

/* line 108, ../../../app/stylesheets/styles.scss */
.subactive > a {
  background-color: #e0e0e0; }

/* line 115, ../../../app/stylesheets/styles.scss */
.sidebar-head {
  margin-bottom: 0;
  border-bottom: 1px solid #DDD; }

/* line 120, ../../../app/stylesheets/styles.scss */
#sidebar_title {
  float: left;
  padding: 23px 0 5px 15px;
  margin: 0; }

/* line 126, ../../../app/stylesheets/styles.scss */
.sidebar-head > a:hover {
  background-color: transparent; }

/* line 129, ../../../app/stylesheets/styles.scss */
.sidebar-head .glyphicon {
  font-size: 14px;
  font-weight: normal;
  float: right;
  margin: 0;
  padding-top: 31px; }

/* line 137, ../../../app/stylesheets/styles.scss */
#sidebar_add_text {
  padding-left: 4px; }

/* line 141, ../../../app/stylesheets/styles.scss */
#sidebar_add:hover {
  background-color: transparent; }

/* line 145, ../../../app/stylesheets/styles.scss */
.teachbody {
  font-size: 15px; }

/* line 149, ../../../app/stylesheets/styles.scss */
.sidebar_assessment {
  padding-left: 20px !important;
  display: inline-block !important; }

/* line 154, ../../../app/stylesheets/styles.scss */
.sidebar_delete {
  display: inline-block !important;
  padding: 0 !important;
  margin-top: 8px;
  margin-right: 10px; }

/* line 161, ../../../app/stylesheets/styles.scss */
.sidebar_x {
  color: #428bca;
  font-size: 9px; }

/*
 * Main content
 */
/* line 170, ../../../app/stylesheets/styles.scss */
.main {
  padding: 20px; }

@media (min-width: 768px) {
  /* line 174, ../../../app/stylesheets/styles.scss */
  .main {
    padding-right: 40px;
    padding-left: 40px; } }
/* line 179, ../../../app/stylesheets/styles.scss */
.main .page-header {
  margin-top: 0; }

/*
 * Placeholder dashboard ideas
 */
/* line 191, ../../../app/stylesheets/styles.scss */
.placeholders {
  margin-bottom: 30px;
  text-align: center; }

/* line 195, ../../../app/stylesheets/styles.scss */
.placeholders h4 {
  margin-bottom: 0; }

/* line 198, ../../../app/stylesheets/styles.scss */
.placeholder {
  margin-bottom: 20px; }

/* line 201, ../../../app/stylesheets/styles.scss */
.placeholder img {
  display: inline-block;
  border-radius: 50%; }

/* sidebar */
/* line 214, ../../../app/stylesheets/styles.scss */
.sidebar_course_name {
  font-size: 14px;
  padding-left: 20px !important; }

/* navbar */
/* line 223, ../../../app/stylesheets/styles.scss */
.navbar-nav > li > a {
  padding-top: 14px; }

/* line 227, ../../../app/stylesheets/styles.scss */
.nav_text {
  margin-top: -7px; }

/* line 231, ../../../app/stylesheets/styles.scss */
.navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: transparent !important; }

/* assessment navbar */
/* line 236, ../../../app/stylesheets/styles.scss */
.navbar-title {
  font-size: 28px;
  color: #777777 !important;
  margin-bottom: inherit;
  padding: 19px 0px 0px 15px; }

/* line 243, ../../../app/stylesheets/styles.scss */
.assessment_navbar_links {
  padding-top: 11px;
  padding-left: 20px; }

/* line 248, ../../../app/stylesheets/styles.scss */
#assessment_nav_box {
  padding-top: 3px; }

/* line 252, ../../../app/stylesheets/styles.scss */
.btn .btn-primary {
  padding-top: 50px; }

/* line 256, ../../../app/stylesheets/styles.scss */
.disabled_nav_link {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 11pt;
  margin-top: 20px;
  color: #B8B8B8; }

/* line 266, ../../../app/stylesheets/styles.scss */
.navbar-nav > .active > a {
  height: 60px; }

/* line 275, ../../../app/stylesheets/styles.scss */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: none;
  color: none; }

/* line 280, ../../../app/stylesheets/styles.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #428bca; }

/* line 285, ../../../app/stylesheets/styles.scss */
.container-fluid {
  margin-top: 0px; }

/* line 288, ../../../app/stylesheets/styles.scss */
.assessment-nav {
  padding-top: 35px; }

/*Course Pages*/
/* line 294, ../../../app/stylesheets/styles.scss */
#roster_names {
  padding-left: 15px; }

/* line 298, ../../../app/stylesheets/styles.scss */
.print_instructions {
  display: none; }

/* line 302, ../../../app/stylesheets/styles.scss */
.roster_nav {
  min-height: 60px;
  margin-bottom: -4px; }

/* line 307, ../../../app/stylesheets/styles.scss */
.sub_navbar {
  margin-top: -20px; }

/* line 311, ../../../app/stylesheets/styles.scss */
.sub_navbar > li {
  margin-top: 5px;
  margin-bottom: 5px; }

/* line 316, ../../../app/stylesheets/styles.scss */
.sub_navbar > li > a {
  color: #428bca !important;
  display: inline-block;
  float: right;
  font-size: 11pt;
  padding-top: 20px; }

/* line 324, ../../../app/stylesheets/styles.scss */
.sub_navbar > li > a:hover {
  color: black;
  height: 60px; }

/* line 330, ../../../app/stylesheets/styles.scss */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
  border-color: #428bca; }

/* line 335, ../../../app/stylesheets/styles.scss */
.navbar {
  min-height: 40px;
  margin-bottom: 20px;
  border: 1px solid transparent; }

/* line 341, ../../../app/stylesheets/styles.scss */
.navbar-collapse {
  max-height: 800px;
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  padding: 15px;
  font-size: 18px;
  line-height: 20px;
  height: 30px;
  font-color: #428bca; }

/* line 353, ../../../app/stylesheets/styles.scss */
#assessment_navbar {
  padding: 0px; }

/* line 357, ../../../app/stylesheets/styles.scss */
.navbar-brand:hover, .navbar-brand:focus {
  background-color: none;
  background-image: none;
  border: none !important;
  border-radius: 4px; }

/* line 364, ../../../app/stylesheets/styles.scss */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent; }

/* line 369, ../../../app/stylesheets/styles.scss */
.navbar-inverse {
  background-color: #c1dccd;
  border-color: #c1dccd; }

/* line 375, ../../../app/stylesheets/styles.scss */
.navbar-inverse .navbar-brand {
  color: #333333; }

/* line 380, ../../../app/stylesheets/styles.scss */
.navbar-inverse .navbar-nav > li > a {
  /*color:#333*/ }

/* line 384, ../../../app/stylesheets/styles.scss */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  /*background-color:#080808;
  color:#fff*/ }

/* line 389, ../../../app/stylesheets/styles.scss */
.panel-heading > .dropdown .dropdown-toggle {
  color: #333; }

/* line 393, ../../../app/stylesheets/styles.scss */
.sidebar-head {
  color: #777;
  font-size: 22px;
  text-decoration: none; }

/* line 399, ../../../app/stylesheets/styles.scss */
.navbar-user {
  float: right;
  padding: 15px;
  font-size: 15px;
  line-height: 20px;
  height: 50px; }

/*quizzes index*/
/* line 412, ../../../app/stylesheets/styles.scss */
ul.quiz_list {
  margin-top: 5px;
  padding-left: 10px; }

/* line 416, ../../../app/stylesheets/styles.scss */
ul.quiz_list li.quiz {
  list-style-type: none;
  display: block;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  min-height: 94px; }

/* line 424, ../../../app/stylesheets/styles.scss */
ul.quiz_list li.quiz.unpublished {
  border-width: 2px; }

/* line 427, ../../../app/stylesheets/styles.scss */
ul.quiz_list li.quiz div.title {
  font-size: 1.2em;
  font-weight: bold; }

/* line 431, ../../../app/stylesheets/styles.scss */
ul.quiz_list li.quiz div.description {
  font-size: 0.85em;
  margin-left: 20px; }

/* line 435, ../../../app/stylesheets/styles.scss */
ul.quiz_list li.quiz div.description .quiz_info {
  margin-left: 20px; }

/*teacher instructions*/
/* line 441, ../../../app/stylesheets/styles.scss */
#teacher_instructions {
  font-size: 15px;
  padding-left: 20px; }
  /* line 444, ../../../app/stylesheets/styles.scss */
  #teacher_instructions h1 {
    font-size: 33px;
    font-weight: bold; }
  /* line 448, ../../../app/stylesheets/styles.scss */
  #teacher_instructions h4 {
    font-size: 24px; }
  /* line 451, ../../../app/stylesheets/styles.scss */
  #teacher_instructions #teacher_instructions_print_row * {
    display: inline-block; }
  /* line 455, ../../../app/stylesheets/styles.scss */
  #teacher_instructions #teacher_instructions_print_row a {
    margin-left: 15px;
    margin-top: -10px; }

/*add assessment*/
/* line 464, ../../../app/stylesheets/styles.scss */
.add_assessment_course_title {
  font-size: 18px; }

/* line 468, ../../../app/stylesheets/styles.scss */
.add_assess_row_title {
  padding-top: 12px !important; }

/* line 472, ../../../app/stylesheets/styles.scss */
.add_assess_row_data {
  padding-top: 15px !important; }

/* line 476, ../../../app/stylesheets/styles.scss */
#add_assessment_table {
  padding-left: 15px; }
  /* line 478, ../../../app/stylesheets/styles.scss */
  #add_assessment_table table {
    max-width: 900px; }
    /* line 480, ../../../app/stylesheets/styles.scss */
    #add_assessment_table table a {
      color: #428bca; }
    /* line 483, ../../../app/stylesheets/styles.scss */
    #add_assessment_table table p {
      margin-bottom: 0;
      color: #777777; }
  /* line 488, ../../../app/stylesheets/styles.scss */
  #add_assessment_table th {
    border: none; }
  /* line 491, ../../../app/stylesheets/styles.scss */
  #add_assessment_table h2 {
    font-size: 24px;
    color: #777777; }

/*add course page*/
/* line 499, ../../../app/stylesheets/styles.scss */
#add_course_form {
  width: 100%; }

/* line 503, ../../../app/stylesheets/styles.scss */
#new_course_name_field {
  width: 300px; }

/* line 507, ../../../app/stylesheets/styles.scss */
#new_course_roster_area {
  height: 597px; }

/* line 511, ../../../app/stylesheets/styles.scss */
#add_class_instruction_text {
  font-style: italic; }

/* line 518, ../../../app/stylesheets/styles.scss */
#add_class_instructions_panel {
  width: 230px; }

/* line 522, ../../../app/stylesheets/styles.scss */
.add_course_name_format_buttons {
  margin-top: 15px;
  margin-bottom: 15px; }

/*quiz preview*/
/* line 529, ../../../app/stylesheets/styles.scss */
#take_quiz_content {
  margin-left: 20px; }

/* line 533, ../../../app/stylesheets/styles.scss */
#preview_warning_area {
  max-width: 936px; }

/* line 537, ../../../app/stylesheets/styles.scss */
#preview_warning_area * {
  display: inline-block; }

/* line 541, ../../../app/stylesheets/styles.scss */
.quiz_preview_icons {
  padding-left: 3px; }

/* line 545, ../../../app/stylesheets/styles.scss */
#take_quiz_warning_img {
  vertical-align: baseline; }

/*misconceptions page*/
/* line 550, ../../../app/stylesheets/styles.scss */
#assessment_misconceptions_page {
  margin-left: 20px; }
  /* line 552, ../../../app/stylesheets/styles.scss */
  #assessment_misconceptions_page .misconception_heading {
    font-size: 18px; }
  /* line 555, ../../../app/stylesheets/styles.scss */
  #assessment_misconceptions_page .misconception_links {
    font-style: italic; }
  /* line 558, ../../../app/stylesheets/styles.scss */
  #assessment_misconceptions_page .misconception_student_names {
    font-size: 15px; }
  /* line 561, ../../../app/stylesheets/styles.scss */
  #assessment_misconceptions_page .misconception_descriptions {
    width: 475px; }
  /* line 564, ../../../app/stylesheets/styles.scss */
  #assessment_misconceptions_page .misconception_titles {
    color: #777777; }
  /* line 567, ../../../app/stylesheets/styles.scss */
  #assessment_misconceptions_page .misconception_tables {
    width: 800px; }
    /* line 569, ../../../app/stylesheets/styles.scss */
    #assessment_misconceptions_page .misconception_tables th {
      font-style: italic; }

/*individual responses*/
/* line 576, ../../../app/stylesheets/styles.scss */
#individual_results_page {
  margin-left: 20px;
  margin-top: 15px; }

/* line 581, ../../../app/stylesheets/styles.scss */
#individual_responses_student_dropdown {
  border-radius: 0;
  margin-bottom: 15px; }

/* line 586, ../../../app/stylesheets/styles.scss */
.invidivual_responses_student_dropdown_name {
  margin-bottom: 3px !important;
  padding-left: 15px;
  color: #B8B8B8; }
  /* line 590, ../../../app/stylesheets/styles.scss */
  .invidivual_responses_student_dropdown_name a {
    color: #4b7092; }

/* line 595, ../../../app/stylesheets/styles.scss */
#invidivual_responses_student_dropdown_menu {
  margin-top: -16px; }

/* line 599, ../../../app/stylesheets/styles.scss */
.individual_results_next_button {
  margin-left: -1px; }

/*statistics page*/
/* line 605, ../../../app/stylesheets/styles.scss */
#assessment_statistics_page {
  margin-left: 20px; }

/*class summary page*/
/* line 610, ../../../app/stylesheets/styles.scss */
.classroom_reports {
  margin-left: 20px; }

/* line 613, ../../../app/stylesheets/styles.scss */
#report_heading {
  margin-top: 30px; }

/*monitor page*/
/* line 618, ../../../app/stylesheets/styles.scss */
#monitor_page {
  margin-left: 20px; }

/* line 622, ../../../app/stylesheets/styles.scss */
#monitor_title {
  color: #777777; }
