/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
/* line 6, ../../../app/stylesheets/styles.scss */
body {
  padding-top: 50px; }

/*
 * Global add-ons
 */
/* line 15, ../../../app/stylesheets/styles.scss */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }

/*
 * Sidebar
 */
/* Hide for mobile, show later */
/* line 26, ../../../app/stylesheets/styles.scss */
.sidebar {
  display: none; }

@media (min-width: 768px) {
  /* line 30, ../../../app/stylesheets/styles.scss */
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee; }

  /* Sidebar navigation */
  /* line 44, ../../../app/stylesheets/styles.scss */
  .nav-sidebar {
    margin-right: -21px;
    margin-bottom: 10px;
    margin-left: -20px;
    text-decoration: none; }

  /* line 50, ../../../app/stylesheets/styles.scss */
  .nav-sidebar > li > a {
    text-decoration: none; }

  /* line 53, ../../../app/stylesheets/styles.scss */
  .nav-sidebar > .active > a {
    color: #fff !important;
    background-color: #428bca; }

  /* line 58, ../../../app/stylesheets/styles.scss */
  .nav-sidebar > .active > a:hover {
    color: #428bca; }

  /* line 62, ../../../app/stylesheets/styles.scss */
  .nav-sidebar-subhead {
    font-size: 12px;
    text-indent: 20px; } }
/* line 68, ../../../app/stylesheets/styles.scss */
.nav-sidebar-subhead > li > a {
  padding-right: 20px;
  padding-left: 20px; }

/* line 72, ../../../app/stylesheets/styles.scss */
.subactive > a {
  background-color: #e0e0e0; }

/* line 79, ../../../app/stylesheets/styles.scss */
.sidebar-head {
  margin-bottom: 0;
  border-bottom: 1px solid #DDD; }

/* line 84, ../../../app/stylesheets/styles.scss */
#sidebar_title {
  float: left;
  padding: 19px 0 0 15px;
  margin: 0; }

/* line 90, ../../../app/stylesheets/styles.scss */
.sidebar-head > a:hover {
  background-color: transparent; }

/* line 93, ../../../app/stylesheets/styles.scss */
.sidebar-head .glyphicon {
  font-size: 14px;
  font-weight: normal;
  float: right;
  margin: 0;
  padding-top: 27px; }

/* line 101, ../../../app/stylesheets/styles.scss */
.teachbody {
  font-size: 15px; }

/* line 105, ../../../app/stylesheets/styles.scss */
.sidebar_assessment {
  padding-left: 20px !important; }

/*
 * Main content
 */
/* line 113, ../../../app/stylesheets/styles.scss */
.main {
  padding: 20px; }

@media (min-width: 768px) {
  /* line 117, ../../../app/stylesheets/styles.scss */
  .main {
    padding-right: 40px;
    padding-left: 40px; } }
/* line 122, ../../../app/stylesheets/styles.scss */
.main .page-header {
  margin-top: 0; }

/*
 * Placeholder dashboard ideas
 */
/* line 134, ../../../app/stylesheets/styles.scss */
.placeholders {
  margin-bottom: 30px;
  text-align: center; }

/* line 138, ../../../app/stylesheets/styles.scss */
.placeholders h4 {
  margin-bottom: 0; }

/* line 141, ../../../app/stylesheets/styles.scss */
.placeholder {
  margin-bottom: 20px; }

/* line 144, ../../../app/stylesheets/styles.scss */
.placeholder img {
  display: inline-block;
  border-radius: 50%; }

/* sidebar */
/* line 155, ../../../app/stylesheets/styles.scss */
.assessments {
  padding-left: 25px;
  font-size: 12px;
  text-indent: 10px; }

/* line 161, ../../../app/stylesheets/styles.scss */
.sidebar_course_name {
  font-size: 14px;
  padding-left: 20px !important; }

/* line 166, ../../../app/stylesheets/styles.scss */
.sidebar_text {
  color: #428bca !important; }

/* navbar */
/* line 172, ../../../app/stylesheets/styles.scss */
.navbar-nav > li > a {
  padding-top: 14px; }

/* line 176, ../../../app/stylesheets/styles.scss */
.nav_text {
  margin-top: -7px; }

/* assessment navbar */
/* line 181, ../../../app/stylesheets/styles.scss */
.navbar-title {
  font-size: 28px;
  color: #428bca !important;
  margin-bottom: inherit;
  padding: 19px 0px 0px 15px; }

/* line 188, ../../../app/stylesheets/styles.scss */
.assessment_navbar_links {
  padding-top: 11px;
  padding-left: 20px; }

/* line 193, ../../../app/stylesheets/styles.scss */
#assessment_nav_box {
  padding-top: 3px; }

/* line 197, ../../../app/stylesheets/styles.scss */
.btn .btn-primary {
  padding-top: 50px; }

/* line 205, ../../../app/stylesheets/styles.scss */
.navbar-nav > .active > a {
  height: 60px; }

/* line 214, ../../../app/stylesheets/styles.scss */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: none;
  color: none; }

/* line 219, ../../../app/stylesheets/styles.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #428bca; }

/* line 224, ../../../app/stylesheets/styles.scss */
.container-fluid {
  margin-top: 0px; }

/* line 227, ../../../app/stylesheets/styles.scss */
.assessment-nav {
  padding-top: 35px; }

/*Course Pages*/
/* line 233, ../../../app/stylesheets/styles.scss */
#roster_names {
  padding-left: 15px; }

/* line 237, ../../../app/stylesheets/styles.scss */
.print_instructions {
  display: none; }

/* line 241, ../../../app/stylesheets/styles.scss */
.roster_nav {
  min-height: 60px; }

/* line 245, ../../../app/stylesheets/styles.scss */
.sub_navbar {
  margin-top: -20px; }

/* line 249, ../../../app/stylesheets/styles.scss */
.sub_navbar > li {
  margin-top: 5px;
  margin-bottom: 5px; }

/* line 254, ../../../app/stylesheets/styles.scss */
.sub_navbar > li > a {
  color: #428bca !important;
  display: inline-block;
  float: right;
  font-size: 11pt;
  padding-top: 20px; }

/* line 262, ../../../app/stylesheets/styles.scss */
.sub_navbar > li > a:hover {
  color: black;
  height: 60px; }

/* line 268, ../../../app/stylesheets/styles.scss */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
  border-color: #428bca; }

/* line 273, ../../../app/stylesheets/styles.scss */
.navbar {
  min-height: 40px;
  margin-bottom: 20px;
  border: 1px solid transparent; }

/* line 279, ../../../app/stylesheets/styles.scss */
.navbar-collapse {
  max-height: 800px;
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  padding: 15px;
  font-size: 18px;
  line-height: 20px;
  height: 30px;
  font-color: #428bca; }

/* line 291, ../../../app/stylesheets/styles.scss */
#assessment_navbar {
  padding: 0px; }

/* line 295, ../../../app/stylesheets/styles.scss */
.navbar-brand:hover, .navbar-brand:focus {
  padding: 14px;
  background-color: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

/* line 303, ../../../app/stylesheets/styles.scss */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent; }

/* line 308, ../../../app/stylesheets/styles.scss */
.navbar-inverse {
  background-color: #c1dccd;
  border-color: #c1dccd; }

/* line 314, ../../../app/stylesheets/styles.scss */
.navbar-inverse .navbar-brand {
  color: #333333; }

/* line 319, ../../../app/stylesheets/styles.scss */
.navbar-inverse .navbar-nav > li > a {
  /*color:#333*/ }

/* line 323, ../../../app/stylesheets/styles.scss */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  /*background-color:#080808;
  color:#fff*/ }

/* line 328, ../../../app/stylesheets/styles.scss */
.panel-heading > .dropdown .dropdown-toggle {
  color: #333; }

/* line 332, ../../../app/stylesheets/styles.scss */
.sidebar-head {
  color: #777;
  font-size: 22px;
  text-decoration: none; }

/* line 338, ../../../app/stylesheets/styles.scss */
.navbar-user {
  float: right;
  padding: 15px;
  font-size: 15px;
  line-height: 20px;
  height: 50px; }

/*quizzes index*/
/* line 351, ../../../app/stylesheets/styles.scss */
ul.quiz_list {
  margin-top: 5px;
  padding-left: 10px; }

/* line 355, ../../../app/stylesheets/styles.scss */
ul.quiz_list li.quiz {
  list-style-type: none;
  display: block;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  min-height: 94px; }

/* line 363, ../../../app/stylesheets/styles.scss */
ul.quiz_list li.quiz.unpublished {
  border-width: 2px; }

/* line 366, ../../../app/stylesheets/styles.scss */
ul.quiz_list li.quiz div.title {
  font-size: 1.2em;
  font-weight: bold; }

/* line 370, ../../../app/stylesheets/styles.scss */
ul.quiz_list li.quiz div.description {
  font-size: 0.85em;
  margin-left: 20px; }

/* line 374, ../../../app/stylesheets/styles.scss */
ul.quiz_list li.quiz div.description .quiz_info {
  margin-left: 20px; }

/*teacher instructions*/
/* line 380, ../../../app/stylesheets/styles.scss */
#teacher_instructions {
  font-size: 15px;
  padding-left: 20px; }
  /* line 383, ../../../app/stylesheets/styles.scss */
  #teacher_instructions h1 {
    font-size: 33px;
    font-weight: bold; }
  /* line 387, ../../../app/stylesheets/styles.scss */
  #teacher_instructions h4 {
    font-size: 24px; }
