.admins_list{list-style-type:none;padding-left:10px}
.admins_list li{width:300px;padding:2px 5px;margin-bottom:5px}
.admins_list li:hover{background-color:#eee;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px}
.admins_list .user_name{font-weight:bold;float:left}
.admins_list .email{clear:left;display:block;font-size:.8em;color:#888;padding-left:10px}
.admins_list .membership_type{clear:left;display:block;font-size:.8em;padding-left:10px}
.admins_list .remove_account_user_link{float:right;opacity:.5}
.admins_list li:hover .remove_account_user_link{opacity:1}
#account_notification_icon option{padding:3px 0 3px 25px;background:url(/images/warning.png?1341500195) no-repeat 5px center}
#account_notification_icon option.calendar{background-image:url(/images/calendar_icon.png?1341500195)}
#account_notification_icon option.people{background-image:url(/images/group.png?1341500195)}
#account_notification_icon option.help{background-image:url(/images/help.png?1341500195)}
#account_notification_icon option.file{background-image:url(/images/file.png?1341500195)}
.custom_help_link{border-top:1px solid #ccc}
.custom_help_link .delete{float:right}
.announcements_list{padding-left:20px}
.announcements_list li{padding:5px 10px;margin-bottom:5px}
.announcements_list li .subject{font-size:1.1em;font-weight:bold;float:left}
.announcements_list li .subject img{padding-right:5px}
.announcements_list li .delete_notification_link{float:right;opacity:.5;-ms-filter:alpha(Opacity=50);filter:alpha(Opacity=50)}
.announcements_list li .dates{font-size:.8em;border-bottom:1px dotted #ccc;margin-bottom:5px}
.announcements_list li .message{font-size:.8em}
.announcements_list li:hover{background:#eee;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px}
.announcements_list li:hover .delete_notification_link{opacity:1;-ms-filter:alpha(Opacity=100);filter:alpha(Opacity=100)}
#external_tools .external_tool{-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px}
#external_tools .external_tool .header{padding:5px 10px 0}
#external_tools .external_tool .header .name{float:left;font-size:1.2em;font-weight:bold}
#external_tools .external_tool .header .links{float:right;opacity:.5;-ms-filter:alpha(Opacity=50);filter:alpha(Opacity=50)}
#external_tools .external_tool .content{padding:0 20px 5px}
#external_tools .external_tool .extras{display:none}
#external_tools .external_tool .extras div{font-style:italic;font-size:.9em}
#external_tools .external_tool:hover{background-color:#eee}
#external_tools .external_tool:hover .links{opacity:1;-ms-filter:alpha(Opacity=100);filter:alpha(Opacity=100)}
#external_tools .external_tool.has_editor_button .extras,#external_tools .external_tool.has_resource_selection .extras,#external_tools .external_tool.has_course_navigation .extras,#external_tools .external_tool.has_user_navigation .extras,#external_tools .external_tool.has_account_navigation .extras{display:table-row}
#external_tools .external_tool.has_editor_button .extras div,#external_tools .external_tool.has_resource_selection .extras div,#external_tools .external_tool.has_course_navigation .extras div,#external_tools .external_tool.has_user_navigation .extras div,#external_tools .external_tool.has_account_navigation .extras div{display:none}
#external_tools .external_tool.has_editor_button div.editor_button{display:block}
#external_tools .external_tool.has_resource_selection div.resource_selection{display:block}
#external_tools .external_tool.has_course_navigation div.course_navigation{display:block}
#external_tools .external_tool.has_user_navigation div.user_navigation{display:block}
#external_tools .external_tool.has_account_navigation div.account_navigation{display:block}