.misconception
  border: 2px solid #888
  border-radius: 3px
  background-color: lighten(#888, 43%)
  .misconception_piece
    padding-left: 5px
    td
      &.s1
        border-right: 1px solid #000000
        border-bottom: 1px solid #000000
      &.s2
        border-right: 1px solid #000000
        border-bottom: 1px solid #000000
      &.s3
        border-right: 1px solid #000000
        border-bottom: 1px solid #000000
  .name
    font-size: 25px
  .responses
    font-size: 15px
  .explanation_url
    font-size: 15px
  .description
    font-size: 15px
  td
    padding: 4px
    text-align: center
  .misconception_piece_title
    border-bottom: 1px solid #888
  .edit_misconception_link, .update_misconception_link
    margin-top: 5px
    margin-left: 5px
.misconception_limits
  margin-bottom: 10px
  margin-top: 15px
  border-top: 2px solid #777
  border-bottom: 2px solid #777
  background-color: lighten(#777, 43%)
  td
    padding: 4px
    text-align: center
  .title
    margin-left: 15px
.line
  border-bottom: 1px solid #777