.misconception
  border: 2px solid #888
  border-radius: 3px
  .misconception_piece
    padding-left: 5px
  .name
    font-size: 25px
  .responses
    font-size: 15px
  .explanation_url
    font-size: 15px
  .description
    font-size: 15px