$left_margin: 20px;

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

#footer{
  padding-left: 25px;
}

/*
 * Sidebar
 */


/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    width: 298px;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    padding: 0;
  }

/*assessment navigation*/

#sub-navigation-bar{
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

/* Sidebar navigation */

.nav-sidebar {
  text-decoration: none;
}

.assessments{
  padding-left:25px;
  font-size: 12px;
}

.nav-sidebar > li > a {
  text-decoration: none;
}

.sidebar_text{
  color:rgb(66, 139, 202) !important;
}

.nav-sidebar {
  .active {
    background-color: #428bca;
    color: #fff !important;
    a {
      color: #fff !important;
    }
    .sidebar_x {
      color: #fff !important;
    }
    a:hover {
      background-color: #428bca;
    }
  }
}

.nav-sidebar > .active > a:hover {
  color: #428bca;
}

.nav-sidebar-subhead {
  font-size:12px;
  text-indent: 20px;
}

}
.nav-sidebar-subhead> li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.subactive > a {
  background-color: #e0e0e0;
}

.dropdown-open {
}

.sidebar-head{
  margin-bottom:0;
  border-bottom: 1px solid #DDD;
}

#sidebar_title{
  float: left;
  padding: 23px 0 5px 15px;
  margin: 0;
}

.sidebar-head > a:hover{
 background-color:transparent;
}
.sidebar-head .glyphicon{
  font-size:14px;
  font-weight:normal;
  float: right;
  margin: 0;
  padding-top: 31px;
}

#sidebar_add_text{
  padding-left: 4px;
}

#sidebar_add:hover{
  background-color: transparent;
}

.teachbody {
  font-size:15px;
}

.sidebar_assessment{
  padding-left: 20px !important;
  display: inline-block !important;
}

.sidebar_delete {
  display: inline-block !important;
  padding: 0 !important;
  margin-top: 8px;
  margin-right: 10px;
}

.sidebar_x {
  color: #428bca;
  font-size: 9px;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


.preview {
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/* sidebar */

.sidebar_title{

}



.sidebar_course_name{
  font-size: 14px;
  padding-left: 20px !important;
}




/* navbar */
.navbar-nav>li>a{
  padding-top:14px;
}

.nav_text{
  margin-top: -7px;
}

.navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: transparent !important;
}

/* assessment navbar */
.navbar-title {
  font-size: 28px;
  color: rgb(119, 119, 119) !important;
  margin-bottom:inherit;
  padding: 19px 0px 0px 15px;
}

.assessment_navbar_links{
  padding-top: 11px;
  padding-left: 20px;
}

#assessment_nav_box{
  padding-top: 3px;
}

.btn .btn-primary {
  padding-top:50px;
}

.disabled_nav_link{
  padding-left: 15px;
  padding-right: 15px;
  font-size: 11pt;
  margin-top: 20px;
  color: #B8B8B8;
}



.navbar-nav>.active>a {
  height: 60px;
}


.navbar-inverse .navbar-nav>.active>a:hover{

}

.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a:focus{
  background-color:none;
  color:none;
}

.navbar-inverse .navbar-nav>li>a{
  color: #428bca;

}

.container-fluid {
  margin-top:0px;
}
.assessment-nav{
  padding-top:35px;
}

/*Course Pages*/

#roster_names{
  padding-left: 15px;
}

.print_instructions{
  display: none;
}

.roster_nav{
  min-height: 60px;
  margin-bottom: -4px;
}

.sub_navbar{
  margin-top: -20px;
}

.sub_navbar > li {
  margin-top:5px;
  margin-bottom:5px;
}

.sub_navbar > li > a {
  color: rgb(66, 139, 202) !important;
  display: inline-block;
  float: right;
  font-size: 11pt;
  padding-top: 20px;
}

.sub_navbar > li > a:hover {
  color:black;
  height: 60px;
}


.nav .open>a,.nav .open>a:hover,.nav .open>a:focus{
  background-color:transparent;
  border-color:#428bca
}

.navbar{
  min-height:40px;
  margin-bottom:20px;
  border:1px solid transparent
}

 .navbar-collapse{
  max-height:800px;
  overflow-x:visible;
  padding-right:15px;
  padding-left:15px;
  padding:15px;
  font-size:18px;
  line-height:20px;
  height:30px;
  font-color:#428bca;
  }

  #assessment_navbar{
    padding: 0px;
  }

  .navbar-brand:hover,.navbar-brand:focus{
    background-color:none;
    background-image:none;
    border: none !important;
    border-radius:4px;
  }

   .navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus{
  color:#5e5e5e;
  background-color:transparent;
 }

 .navbar-inverse{
  background-color:#c1dccd;
  border-color:#c1dccd
 }


 .navbar-inverse .navbar-brand{
  color:#333

 }

 .navbar-inverse .navbar-nav>li>a{
  /*color:#333*/
 }

  .navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a:focus{
  /*background-color:#080808;
  color:#fff*/
 }

.panel-heading>.dropdown .dropdown-toggle{
  color:#333;
}

.sidebar-head {
  color:#777;
  font-size:22px;
  text-decoration: none;
}

.navbar-user {
  float:right;
  padding:15px;
  font-size:15px;
  line-height:20px;
  height:50px
}


/*quizzes index*/



ul.quiz_list {
  margin-top: 5px;
  padding-left: 10px;
}
ul.quiz_list li.quiz {
  list-style-type: none;
  display: block;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  min-height: 94px;
}
ul.quiz_list li.quiz.unpublished {
  border-width: 2px;
}
ul.quiz_list li.quiz div.title {
  font-size: 1.2em;
  font-weight: bold;
}
ul.quiz_list li.quiz div.description {
  font-size: 0.85em;
  margin-left: 20px;
}
ul.quiz_list li.quiz div.description .quiz_info {
  margin-left: 20px;
}

/*teacher instructions*/

#teacher_instructions{
  font-size: 15px;
  padding-left: 20px;
  h1{
    font-size: 33px;
    font-weight: bold;
  }
  h4{
    font-size: 24px;
  }
  #teacher_instructions_print_row *{
    display: inline-block;
  }
  #teacher_instructions_print_row{
    a{
      margin-left: 15px;
      margin-top: -10px;
    }
  }
}

/*add assessment*/

.add_assessment_course_title{
  font-size: 18px;
}

.add_assess_row_title{
  padding-top: 12px !important;
}

.add_assess_row_data{
  padding-top: 15px !important;
}

#add_assessment_table{
  padding-left: 15px;
  table{
    max-width: 900px;
    a{
      color: #428bca;
    }
    p{
      margin-bottom: 0;
      color: rgb(119, 119, 119);
    }
  }
  th{
    border: none;
  }
  h2{
    font-size: 24px;
    color: rgb(119, 119, 119);
  }
}

/*add course page*/

#add_course_form{
  width: 100%;
}

#new_course_name_field{
  width: 300px;
}

#new_course_roster_area{
  height: 597px;
}

#add_class_instruction_text{
  font-style: italic;
}

#add_class_instruction_examples{
}

#add_class_instructions_panel{
  width: 230px;
}

.add_course_name_format_buttons{
  margin-top: 15px;
  margin-bottom: 15px;
}

/*quiz preview*/

#take_quiz_content{
  margin-left: $left_margin;
}

#preview_warning_area{
  max-width: 936px;
}

#preview_warning_area *{
  display: inline-block;
}

.quiz_preview_icons{
  padding-left: 3px;
}

#take_quiz_warning_img{
  vertical-align: baseline;
}

/*misconceptions page*/
#assessment_misconceptions_page{
  margin-left: $left_margin;
  .misconception_heading{
    font-size: 18px;
  }
  .misconception_links{
    font-style: italic;
  }
  .misconception_student_names{
    font-size: 15px;
  }
  .misconception_descriptions{
    width: 475px;
  }
  .misconception_titles{
    color: rgb(119, 119, 119);
  }
  .misconception_tables{
    width: 800px;
    th{
      font-style: italic;
    }
  }
}

/*individual responses*/
#individual_results_page{
  margin-left: $left_margin;
  margin-top: 15px;
}

#individual_responses_student_dropdown{
  border-radius: 0;
  margin-bottom: 15px;
}

.invidivual_responses_student_dropdown_name{
  margin-bottom: 3px !important;
  padding-left: 15px;
  color: #B8B8B8;
  a {
    color: #4b7092;
  }
}

#invidivual_responses_student_dropdown_menu{
  margin-top: -16px;
}

.individual_results_next_button{
  margin-left: -1px;
}

/*statistics page*/

#assessment_statistics_page{
  margin-left: $left_margin;
}

/*class summary page*/
.classroom_reports{
  margin-left: $left_margin;
}
#report_heading {
  margin-top: 30px;
}

/*monitor page*/
#monitor_page{
  margin-left: $left_margin;
}

#monitor_title{
  color: rgb(119, 119, 119);
}
