/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 10px;
  margin-left: -20px;
  text-decoration: none;
}
.nav-sidebar > li > a {
  text-decoration: none;
}
.nav-sidebar > .active > a {
  color: #fff !important;
  background-color: #428bca;
}

.nav-sidebar > .active > a:hover {
  color: #428bca;
}

.nav-sidebar-subhead {
  font-size:12px;
  text-indent: 20px;
}

}
.nav-sidebar-subhead> li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.subactive > a {
  background-color: #e0e0e0;
}

.dropdown-open {
}

.sidebar-head{
  margin-bottom:0;
  border-bottom: 1px solid #DDD;
}

#sidebar_title{
  float: left;
  padding: 19px 0 0 15px;
  margin: 0;
}

.sidebar-head > a:hover{
 background-color:transparent;
}
.sidebar-head .glyphicon{
  font-size:14px;
  font-weight:normal;
  float: right;
  margin: 0;
  padding-top: 27px;
}

.teachbody {
  font-size:15px;
}

.sidebar_assessment{
  padding-left: 20px !important;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


.preview {
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/* sidebar */

.sidebar_title{

}

.assessments{
  padding-left:25px;
  font-size: 12px;
  text-indent:10px;
}

.sidebar_course_name{
  font-size: 14px;
  padding-left: 20px !important;
}

.sidebar_text{
  color:rgb(66, 139, 202) !important;
}


/* navbar */
.navbar-nav>li>a{
  padding-top:14px;
}

.nav_text{
  margin-top: -7px;
}

/* assessment navbar */
.navbar-title {
  font-size: 28px;
  color: rgb(66, 139, 202) !important;
  margin-bottom:inherit;
  padding: 19px 0px 0px 15px;
}

.assessment_navbar_links{
  padding-top: 11px;
  padding-left: 20px;
}

#assessment_nav_box{
  padding-top: 3px;
}

.btn .btn-primary {
  padding-top:50px;
}





.navbar-nav>.active>a {
  height: 60px;
}


.navbar-inverse .navbar-nav>.active>a:hover{

}

.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a:focus{
  background-color:none;
  color:none;
}

.navbar-inverse .navbar-nav>li>a{
  color: #428bca;

}

.container-fluid {
  margin-top:0px;
}
.assessment-nav{
  padding-top:35px;
}

/*Course Pages*/

#roster_names{
  padding-left: 15px;
}

.print_instructions{
  display: none;
}

.roster_nav{
  min-height: 60px;
}

.sub_navbar{
  margin-top: -20px;
}

.sub_navbar > li {
  margin-top:5px;
  margin-bottom:5px;
}

.sub_navbar > li > a {
  color: rgb(66, 139, 202) !important;
  display: inline-block;
  float: right;
  font-size: 11pt;
  padding-top: 20px;
}

.sub_navbar > li > a:hover {
  color:black;
  height: 60px;
}


.nav .open>a,.nav .open>a:hover,.nav .open>a:focus{
  background-color:transparent;
  border-color:#428bca
}

.navbar{
  min-height:40px;
  margin-bottom:20px;
  border:1px solid transparent
}

 .navbar-collapse{
  max-height:800px;
  overflow-x:visible;
  padding-right:15px;
  padding-left:15px;
  padding:15px;
  font-size:18px;
  line-height:20px;
  height:30px;
  font-color:#428bca;
  }

  #assessment_navbar{
    padding: 0px;
  }

  .navbar-brand:hover,.navbar-brand:focus{
  padding:14px;
  background-color:none;
  background-image:none;
  border:1px solid transparent;
  border-radius:4px
  }

   .navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus{
  color:#5e5e5e;
  background-color:transparent;
 }

 .navbar-inverse{
  background-color:#c1dccd;
  border-color:#c1dccd
 }


 .navbar-inverse .navbar-brand{
  color:#333

 }

 .navbar-inverse .navbar-nav>li>a{
  /*color:#333*/
 }

  .navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a:focus{
  /*background-color:#080808;
  color:#fff*/
 }

.panel-heading>.dropdown .dropdown-toggle{
  color:#333;
}

.sidebar-head {
  color:#777;
  font-size:22px;
  text-decoration: none;
}

.navbar-user {
  float:right;
  padding:15px;
  font-size:15px;
  line-height:20px;
  height:50px
}


/*quizzes index*/



ul.quiz_list {
  margin-top: 5px;
  padding-left: 10px;
}
ul.quiz_list li.quiz {
  list-style-type: none;
  display: block;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  min-height: 94px;
}
ul.quiz_list li.quiz.unpublished {
  border-width: 2px;
}
ul.quiz_list li.quiz div.title {
  font-size: 1.2em;
  font-weight: bold;
}
ul.quiz_list li.quiz div.description {
  font-size: 0.85em;
  margin-left: 20px;
}
ul.quiz_list li.quiz div.description .quiz_info {
  margin-left: 20px;
}

/*teacher instructions*/

#teacher_instructions{
  font-size: 15px;
  padding-left: 20px;
  h1{
    font-size: 33px;
    font-weight: bold;
  }
  h4{
    font-size: 24px;
  }
}
