<nav class="navbar navbar-inverse navbar-fixed-top no-print" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if @current_user.roles.include?("admin") %>
        <a class="navbar-brand" href="<%= root_path %>"><img class="nav_text" src="/images/logo.png"</a>
      <% else %>
        <a class="navbar-brand" href="<%= teacher_root_path %>"><img class="nav_text" src="/images/logo.png"</a>
      <% end -%>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown closed">
          <a href="#" class="dropdown-toggle nav_text" data-toggle="dropdown"><%= @current_user.name%> (Teacher) <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Logout", logout_path, :method => :delete %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
