<div class="navbar navbar-inverse navbar-fixed-top no-print" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/courses"><img src="/images/logo.png"</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
            <li class="dropdown closed">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @current_user.sortable_name%> (Teacher) <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/users/11">
                    <span>Settings</span></a>
                  <a href="/users/11/interests">
                    <span>User</span></a>
                  <a href="/helps">
                    <span>Help</span></a>
                  <a data-method="delete" href="/users/sign_out" rel="nofollow">
                    <span>Sign Out</span></a>                    </li>
              </ul>
            </li>

          </ul>
    </div>
  </div>
</div>
