<div class="no-print">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar sidebar-head">
      <li>
        <p id="sidebar_title">Classes</p>
        <a href="/courses/new" class="sidebar_text glyphicon glyphicon-plus" id="sidebar_add"><span id="sidebar_add_text">Add</span></a>
      </li>
    </ul>
    <ul class="nav nav-sidebar">
      <% if @current_user.courses.present? %>
        <% @current_user.sidebar_courses.each do |course| %>
          <li class="nav text-primary sidebar_course">
            <%= link_to course.name, course_path(course.id), :class => "sidebar_course_name sidebar_text #{'active' if current_page?(course_path(course.id))}" %>
            <ul class="nav nav-sidebar assessments">
              <% course.quizzes.active.each do |quiz| %>
                <li class="<%= 'active' if current_page?(course_quiz_take_path(course.id, quiz.id, :preview => 1)) %>">
                  <%= link_to quiz.title, course_quiz_take_path(course.id, quiz.id, :preview => 1), :class => 'sidebar_text  sidebar_assessment' %>
                  <% link_to course_quiz_path(course.id, quiz.id), :method => 'delete', :class => 'sidebar_delete pull-right', :confirm => "Are you sure?" do %>
                    <span class="glyphicon glyphicon-remove sidebar_x"></span>
                  <% end -%>
                </li>
              <% end -%>
            </ul>
          </li>
        <% end -%>
      <% else %>
        <li>
          <p>you have not created any classes yet</p>
        </li>
      <% end -%>
    </ul>
  </div>
</div>
