<% jammit_css :reports_index -%>

<% content_for :page_title do -%>District Selection<% end -%>

<h1>View Reports for:</h1>

<table>
	<% @districts.each do |account| -%>
	  <tr>
	  	<td><%= link_to account.name, district_report_assessment_reports_path(account.id), :class => "button" %> </td>
	  </tr>
	<% end -%>
</table>
