<% content_for :page_title do -%>District Selection<% end -%>

<h1>View Reports for:</h1>

<% if @districts.count == 0 -%>
	<div> No districts found with this probe </div>
<% end -%>

<table>
	<% @districts.each do |account| -%>
	  <tr>
	  	<td><%= link_to account.name, report_district_report_path(params[:report_id], account.id) %> </td>
	  </tr>
	<% end -%>
</table>
