<% jammit_css :reports_index -%>

<% content_for :page_title do -%>Assessment Reports (Admin)<% end -%>

<h1>Assessment Reports (Admin)</h1>

<dl>
  <% @districts.each do |district, probes| -%>
    <dt><%= link_to district.name, district_report_assessment_reports_path(district.id) %> (District)</dt>
    <% probes.each do |probe| -%>
      <dd><%= link_to probe.title, district_report_assessment_report_path(district.id, probe.id) %> (Assessment)</dd>
    <% end -%>
  <% end -%>
</dl>

<%= render :partial => 'reports/update_reports', :object => @report %>
