<% jammit_css :reports_index -%>

<% content_for :page_title do -%>Assessment Reports (Admin)<% end -%>

<h1>Assessment Reports (Admin)</h1>

<span class='assessment_reports'>
  <ol>
    <% @districts.each do |district, probes| -%>
      <li><span class="report_group_label"><%= district.name %></span> <span class="title">(District)</span></li>
      <ol class="report_group">
        <% probes.each do |probe| -%>
          <li>
            <%= link_to probe.title, district_report_assessment_report_path(district.id, probe.id) %> <span class="title">(Assessment)</span>
          </li>
        <% end -%>
      </ol>
    <% end -%>
  </ol>
</span>

<%= render :partial => 'reports/update_reports', :object => @report %>
