<% content_for :page_title do -%>District Report<% end -%>


<br/>


<h1>Viewing Report for: <%= @current_probe.title %> for: <%= @account.name %></h1>

<table>
	<% @account.sub_accounts.active.each do |account| -%>
	  <tr>
	  	<td><%= link_to account.name, report_school_report_path(params[:report_id], account.id) %> </td>
	  </tr>
	<% end -%>
</table>
