<% content_for :page_title do -%>Course Reports<% end -%>

<h1>View Course Reports</h1>
 
<table>
  <tr>
    <th>Course Name</th>
  </tr>
  <% @courses.each do |course| -%>
	  <tr>
	  	<td><%= link_to course.name, report_path(course) %> &nbsp </td>
	  </tr>
	<% end -%>
</table>
 
<br />