<% jammit_css :reports_index -%>

<% content_for :page_title do -%>Reports<% end -%>

<div class="clear"></div>
<br/>
<h1>View Reports for:</h1>
<table>
  <% if @is_admin -%>
	  <tr>
	  	<td><%= link_to "Districts", district_reports_path(params[:id]) %> </td>
	  </tr>
	<% end -%>
	<% if @is_admin -%>
	  <tr>
	  	<td><%= link_to "Schools", school_reports_path(params[:id]) %> </td>
	  </tr>
	<% end -%>
	<% if @is_admin || @is_teacher -%>
	  <tr>
	  	<td><%= link_to "Classes", class_reports_path(params[:id]) %> </td>
	  </tr>
	<% end -%>
</table>

<%= render :partial => 'reports/update_reports', :object => @report %>
