<% content_for :page_title do -%>Course Reports<% end -%>

<h1>Available Probes</h1>
 
<table>
  <tr>
    <th>Choose a probe</th>
  </tr>
  <% @question_bank.each do |probe| -%>
  	<tr>
	  	<th>
		  	<%= link_to "#{probe.title}", report_path(probe.id), :class => "button" %>
		  </th>
		</tr>
	<% end -%>
</table>
 
<br />