<% content_for :page_title do -%>Area Selection<% end -%>

<h1>View Reports for:</h1>
 
<table>
  <% if @is_admin -%>
	  <tr>
	  	<td><%= link_to "Districts", report_district_reports_path(params[:id]) %> </td>
	  </tr>
	<% end -%>
	<% if @is_admin -%>
	  <tr>
	  	<td><%= link_to "Schools", reports_path %> </td>
	  </tr>
	<% end -%>
	<% if @is_admin || @is_teacher -%>
	  <tr>
	  	<td><%= link_to "Classes", reports_path %> </td>
	  </tr>
	<% end -%>
</table>